# Collaborative Filtering

In [10]:
import pandas as pd
import numpy as np
from datetime import datetime
from scipy.sparse import csr_matrix
from sklearn.decomposition import NMF
from sklearn.model_selection import train_test_split
import random

In [2]:
ratings_raw =  pd.read_csv("../dataset/ratings_raw.csv")

In [3]:
ratings_raw.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [4]:
ratings_raw["userId"].nunique()

270896

In [5]:
ratings_raw.shape

(26024289, 4)

In [6]:
ratings_raw["movieId"].nunique()

45115

In [7]:
movies_ratings_df = pd.DataFrame({'movie_id': ratings_raw['movieId'].unique()})
movies_ratings_df['rate_avg'] = ratings_raw.groupby('movieId')['rating'].mean().values
movies_ratings_df['ratings_count'] = ratings_raw['movieId'].value_counts().values

In [8]:
movies_ratings_df

       movie_id  rate_avg  ratings_count
0           110  3.888157          91921
1           147  3.236953          91082
2           858  3.175550          87901
3          1221  2.875713          84078
4          1246  3.079565          77960
...         ...       ...            ...
45110    159050  4.000000              1
45111    159053  3.500000              1
45112    165649  5.000000              1
45113    171051  1.000000              1
45114    171221  3.000000              1

[45115 rows x 3 columns]

In [9]:
dt_object = datetime.fromtimestamp(ratings_raw["timestamp"][20000000])

In [14]:
user_ids = ratings_raw['userId'].unique()
movie_ids = ratings_raw['movieId'].unique()
movie_ids = np.sort(movie_ids)

num_users = len(user_ids)
num_movies = len(movie_ids)

user_idx_dict = {user_id: idx for idx, user_id in enumerate(user_ids)}
movie_idx_dict = {movie_id: idx for idx, movie_id in enumerate(movie_ids)}

data = ratings_raw['rating']
row = ratings_raw['userId'].map(user_idx_dict)
col = ratings_raw['movieId'].map(movie_idx_dict)

user_movie_matrix = csr_matrix((data, (row, col)), shape=(num_users, num_movies))

print(user_movie_matrix)

  (0, 108)	1.0
  (0, 145)	4.5
  (0, 843)	5.0
  (0, 1195)	5.0
  (0, 1218)	5.0
  (0, 1885)	4.0
  (0, 2677)	4.5
  (0, 2833)	5.0
  (0, 2874)	4.0
  (0, 4133)	4.0
  (0, 4783)	5.0
  (0, 5481)	5.0
  (0, 10177)	4.0
  (0, 12047)	3.5
  (0, 12545)	4.0
  (0, 12652)	5.0
  (0, 13711)	5.0
  (0, 13963)	5.0
  (0, 14631)	5.0
  (0, 16227)	5.0
  (0, 18359)	2.5
  (0, 18373)	5.0
  (0, 18622)	5.0
  (0, 19603)	5.0
  (0, 20118)	0.5
  :	:
  (270895, 11132)	4.5
  (270895, 11365)	4.0
  (270895, 11367)	5.0
  (270895, 11375)	4.5
  (270895, 11413)	5.0
  (270895, 11414)	5.0
  (270895, 11464)	4.0
  (270895, 11497)	4.0
  (270895, 11627)	5.0
  (270895, 11638)	2.5
  (270895, 11677)	4.5
  (270895, 11722)	4.5
  (270895, 11872)	3.5
  (270895, 11987)	3.0
  (270895, 11989)	4.0
  (270895, 12027)	4.5
  (270895, 12047)	4.0
  (270895, 12233)	5.0
  (270895, 12280)	3.5
  (270895, 12293)	4.5
  (270895, 12545)	5.0
  (270895, 12768)	5.0
  (270895, 13126)	4.5
  (270895, 13285)	4.5
  (270895, 14380)	2.0

In [18]:
# user_movie_train, user_movie_test = train_test_split(user_movie_matrix, test_size=0.2, random_state=42)

In [78]:
# user_movie_train.shape

In [79]:
# user_movie_test.shape

In [80]:
# user_movie_test[0].toarray()

Get random users for testing

In [81]:
# random_test_user_ids = []
# for _ in range(54180):
#     random_user = random.randint(1, 270896)
#     random_test_user_ids.append(random_user)
# random_test_user_ids = np.sort(random_test_user_ids)

In [82]:
# mask = np.ones(user_movie_matrix.shape[0], dtype=bool)
# mask[random_test_user_ids] = False
# train_user_movie_matrix = user_movie_matrix[mask, :]

In [83]:
# train_user_movie_matrix.shape

In [279]:
class RecommenderSystem:
    def __init__(self, user_movie_matrix):
        self.user_movie_matrix = user_movie_matrix
#         self.collaborative_filtering()

    def collaborative_filtering(self, num_latent_factors=10):
        num_latent_factors = num_latent_factors  
        model = NMF(n_components=num_latent_factors, init='random', random_state=0)
        self.user_factors = model.fit_transform(self.user_movie_matrix)
        self.movie_factors = model.components_
        
    def get_collab_recom(self, user_id):
        user_idx = user_idx_dict[user_id]
        recommendations = np.dot(self.user_factors[user_idx, :], self.movie_factors)

        sorted_indices = np.argsort(recommendations)[::-1]
        sorted_movie_ids = [movie_ids[idx] for idx in sorted_indices]
        return sorted_movie_ids
    
    def ndcg(self):
        sum = 0
        total_count = 0
        users_count = self.user_movie_matrix.shape[0]
        for user_id in range(0,users_count,5000):
            total_count += 1
            recommended_movies_id = self.get_collab_recom(user_id+1)
            ground_truth = ratings_raw[ratings_raw["userId"] == user_id]
            rated_movies_id = [x for x in recommended_movies_id if x in ground_truth["movieId"].values]
            rated_movies_rate = []
            for id in rated_movies_id:
                rated_movies_rate.append(self.user_movie_matrix[user_idx_dict[target_user_id],movie_idx_dict[id]].item())
            
            prod_relevance_dict = dict(zip(rated_movies_id, rated_movies_rate))
            ideal_prod_relevance_dict = {k: v for k, v in sorted(prod_relevance_dict.items(),key=lambda item: item[1], reverse=True)}
            true_relevance = np.fromiter(ideal_prod_relevance_dict.values(), dtype=int).reshape(1,-1)
            relevance_score = np.fromiter(prod_relevance_dict.values(), dtype=int).reshape(1,-1)
            print(true_relevance, relevance_score)
            dcg = dcg_score(true_relevance, relevance_score)
            idcg = dcg_score(true_relevance, true_relevance)
            sum += dcg/idcg
            print('nDCG score: ', dcg/idcg)
        return round(sum/total_count,4)

In [277]:
rs = RecommenderSystem(user_movie_matrix)

In [280]:
ndcg_score = rs.ndcg()
print("nDCG score is:", ndcg_score)

ValueError: Found array with 0 feature(s) (shape=(1, 0)) while a minimum of 1 is required.

In [281]:
def ndcg():
        sum = 0
        total_count = 0
        users_count = user_movie_matrix.shape[0]
        for user_id in range(0,users_count,10000):
            total_count += 1
            recommended_movies_id = rs.get_collab_recom(user_id+1)
            ground_truth = ratings_raw[ratings_raw["userId"] == target_user_id]
            rated_movies_id = [x for x in recommended_movies_id if x in ground_truth["movieId"].values]
            rated_movies_rate = []
            for id in rated_movies_id:
                rated_movies_rate.append(user_movie_matrix[user_idx_dict[target_user_id],movie_idx_dict[id]].item())
            
            prod_relevance_dict = dict(zip(rated_movies_id, rated_movies_rate))
            ideal_prod_relevance_dict = {k: v for k, v in sorted(prod_relevance_dict.items(),key=lambda item: item[1], reverse=True)}
            true_relevance = np.fromiter(ideal_prod_relevance_dict.values(), dtype=int).reshape(1,-1)
            relevance_score = np.fromiter(prod_relevance_dict.values(), dtype=int).reshape(1,-1)
            dcg = dcg_score(true_relevance, relevance_score)
            idcg = dcg_score(true_relevance, true_relevance)
            sum += dcg/idcg
#             print('nDCG score: ', dcg/idcg)
        return round(sum/total_count,4)

In [282]:
ndcg()

0.9304

In [285]:
target_user_id = 1
recoms = rs.get_collab_recom(target_user_id)
recom_np = np.array(recoms)
print("Collaborative Filtering Recommendations for User", target_user_id)
for i in range(5):
    print(recoms[i])

Collaborative Filtering Recommendations for User 1
318
2959
296
2571
79132

In [283]:
ground_truth = ratings_raw[ratings_raw["userId"] == target_user_id]
ground_truth

    userId  movieId  rating   timestamp
0        1      110     1.0  1425941529
1        1      147     4.5  1425942435
2        1      858     5.0  1425941523
3        1     1221     5.0  1425941546
4        1     1246     5.0  1425941556
5        1     1968     4.0  1425942148
6        1     2762     4.5  1425941300
7        1     2918     5.0  1425941593
8        1     2959     4.0  1425941601
9        1     4226     4.0  1425942228
10       1     4878     5.0  1425941434
11       1     5577     5.0  1425941397
12       1    33794     4.0  1425942005
13       1    54503     3.5  1425941313
14       1    58559     4.0  1425942007
15       1    59315     5.0  1425941502
16       1    68358     5.0  1425941464
17       1    69844     5.0  1425942139
18       1    73017     5.0  1425942699
19       1    81834     5.0  1425942133
20       1    91500     2.5  1425942647
21       1    91542     5.0  1425942618
22       1    92439     5.0  1425941424
23       1    96821     5.0  1425941382
24       1    98809     0.5  1425942640
25       1    99114     4.0  1425941667
26       1   112552     5.0  1425941336

In [291]:
ind = np.argwhere(recom_np == 68358)
ind

array([[65]], dtype=int64)

In [3]:
credits_raw =  pd.read_csv("../dataset/credits_raw.csv")

In [4]:
credits_raw

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [8]:
credits_raw["cast"][0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"