# Encoding Ratings

In [7]:
import pandas as pd
from datetime import datetime

In [2]:
ratings_raw =  pd.read_csv("../dataset/ratings_raw.csv")

In [3]:
ratings_raw.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [46]:
ratings_raw["userId"].nunique()

270896

In [4]:
ratings_raw.shape

(26024289, 4)

In [19]:
ratings_raw["movieId"].nunique()

45115

In [34]:
movies_df = pd.DataFrame({'movie_id': ratings_raw['movieId'].unique()})
movies_df['rate_avg'] = ratings_raw.groupby('movieId')['rating'].mean().values
movies_df['ratings_count'] = ratings_raw['movieId'].value_counts().values

In [35]:
movies_df

       movie_id  rate_avg  ratings_count
0           110  3.888157          91921
1           147  3.236953          91082
2           858  3.175550          87901
3          1221  2.875713          84078
4          1246  3.079565          77960
...         ...       ...            ...
45110    159050  4.000000              1
45111    159053  3.500000              1
45112    165649  5.000000              1
45113    171051  1.000000              1
45114    171221  3.000000              1

[45115 rows x 3 columns]

In [17]:
dt_object = datetime.fromtimestamp(ratings_raw["timestamp"][20000000])

In [12]:
dt_object

datetime.datetime(2015, 3, 10, 2, 22, 9)

In [14]:
dt_object

datetime.datetime(2015, 3, 10, 2, 37, 15)

In [16]:
dt_object

datetime.datetime(1996, 5, 30, 16, 3, 23)

In [18]:
dt_object

datetime.datetime(2011, 12, 25, 4, 23, 48)