## Encoding dataset  :  Credits

In [288]:
import pandas as pd
import numpy as np
#Encoding modules
import ast
import sys
sys.path.append('../modules')
from encoding_module import json_to_DF
from encoding_module import onehot_json
import json
from collections import Counter
from sklearn.preprocessing import OneHotEncoder
#Plots
from plot_module import barPlot
from plot_module import featureAnalysis
#API
import requests
import concurrent.futures
#NLP
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
#Ignore Warning
import warnings
warnings.filterwarnings("ignore")

In [3]:
credits_raw =  pd.read_csv("../../dataset/credits_raw.csv")

In [4]:
credits_raw.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [5]:
credits_raw.shape

(45476, 3)

In [7]:
movies_metadata = pd.read_csv('encoded/movies_metadata_encoded.csv')

In [8]:
ID = movies_metadata['id'].tolist()

In [10]:
credits_raw = credits_raw[credits_raw['id'].isin(ID)]

In [11]:
credits_raw

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45468,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...",289923
45469,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",222848
45470,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",30840
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758

In [12]:
credits_raw=credits_raw.drop_duplicates()
credits_raw.shape

(36389, 3)

We want to pick the 500 top directors, because a lot of movies don't have the other roles like writers or producers etc.

In [50]:
credits_raw.loc[0]['crew']

[{'credit_id': '52fe4284c3a36847f8024f49',
  'department': 'Directing',
  'gender': 2,
  'id': 7879,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f4f',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f55',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Screenplay',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f5b',
  'department': 'Writing',
  'gender': 2,
  'id': 12892,
  'job': 'Screenplay',
  'name': 'Joel Cohen',
  'profile_path': '/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f61',
  'department': 'Writing',
  'gender': 0,
  'id': 12893,
  'job': 'Screenplay',
  'name': 'Alec Sokolow',
  'profile_path': '/v79vlRYi94BZUQnkkyznbGUZLjT.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f67',
  'department': 'Production',
  'gender': 1,
  'id': 12894,
  'job': 'Producer',
  'name': 'Bonnie Arnold',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f6d',
  'department': 'Production',
  'gender': 0,
  'id': 12895,
  'job': 'Executive Producer',
  'name': 'Ed Catmull',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f73',
  'department': 'Production',
  'gender': 2,
  'id': 12896,
  'job': 'Producer',
  'name': 'Ralph Guggenheim',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f79',
  'department': 'Production',
  'gender': 2,
  'id': 12897,
  'job': 'Executive Producer',
  'name': 'Steve Jobs',
  'profile_path': '/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f8b',
  'department': 'Editing',
  'gender': 2,
  'id': 8,
  'job': 'Editor',
  'name': 'Lee Unkrich',
  'profile_path': '/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f91',
  'department': 'Art',
  'gender': 2,
  'id': 7883,
  'job': 'Art Direction',
  'name': 'Ralph Eggleston',
  'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'},
 {'credit_id': '598331bf925141421201044b',
  'department': 'Editing',
  'gender': 2,
  'id': 1168870,
  'job': 'Editor',
  'name': 'Robert Gordon',
  'profile_path': None},
 {'credit_id': '5892168cc3a36809660095f9',
  'department': 'Sound',
  'gender': 0,
  'id': 1552883,
  'job': 'Foley Editor',
  'name': 'Mary Helen Leasman',
  'profile_path': None},
 {'credit_id': '5531824d9251415289000945',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1453514,
  'job': 'Animation',
  'name': 'Kim Blanchette',
  'profile_path': None},
 {'credit_id': '589215969251412dcb009bf6',
  'department': 'Sound',
  'gender': 0,
  'id': 1414182,
  'job': 'ADR Editor',
  'name': 'Marilyn McCoppen',
  'profile_path': None},
 {'credit_id': '589217099251412dc500a018',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Orchestrator',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5693e6b29251417b0e0000e3',
  'department': 'Editing',
  'gender': 0,
  'id': 1429549,
  'job': 'Color Timer',
  'name': 'Dale E. Grahn',
  'profile_path': None},
 {'credit_id': '572e2522c3a36869e6001a9c',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7949,
  'job': 'CG Painter',
  'name': 'Robin Cooper',
  'profile_path': None},
 {'credit_id': '574f12309251415ca1000012',
  'department': 'Writing',
  'gender': 2,
  'id': 7879,
  'job': 'Original Story',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '574f1240c3a3682e7300001c',
  'department': 'Writing',
  'gender': 2,
  'id': 12890,
  'job': 'Original Story',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '574f12519251415c92000015',
  'department': 'Writing',
  'gender': 0,
  'id': 7911,
  'job': 'Original Story',
  'name': 'Joe Ranft',
  'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'},
 {'credit_id': '574f12cec3a3682e82000022',
  'department': 'Crew',
  'gender': 0,
  'id': 1629419,
  'job': 'Post Production Supervisor',
  'name': 'Patsy Bouge',
  'profile_path': None},
 {'credit_id': '574f14f19251415ca1000082',
  'department': 'Art',
  'gender': 0,
  'id': 7961,
  'job': 'Sculptor',
  'name': 'Norm DeCarlo',
  'profile_path': None},
 {'credit_id': '5751ae4bc3a3683772002b7f',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 12905,
  'job': 'Animation Director',
  'name': 'Ash Brannon',
  'profile_path': '/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg'},
 {'credit_id': '5891edbe9251412dc5007cd6',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Music',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '589213d39251412dc8009832',
  'department': 'Directing',
  'gender': 0,
  'id': 1748707,
  'job': 'Layout',
  'name': 'Roman Figun',
  'profile_path': None},
 {'credit_id': '5892173dc3a3680968009351',
  'department': 'Sound',
  'gender': 2,
  'id': 4949,
  'job': 'Orchestrator',
  'name': 'Don Davis',
  'profile_path': None},
 {'credit_id': '589217cec3a3686b0a0052ba',
  'department': 'Sound',
  'gender': 0,
  'id': 1372885,
  'job': 'Music Editor',
  'name': 'James Flamberg',
  'profile_path': None},
 {'credit_id': '58921831c3a3686348004a64',
  'department': 'Editing',
  'gender': 0,
  'id': 1739962,
  'job': 'Negative Cutter',
  'name': 'Mary Beth Smith',
  'profile_path': None},
 {'credit_id': '58921838c3a36809700096c0',
  'department': 'Editing',
  'gender': 0,
  'id': 1748513,
  'job': 'Negative Cutter',
  'name': 'Rick Mackay',
  'profile_path': None},
 {'credit_id': '589218429251412dd1009d1b',
  'department': 'Art',
  'gender': 0,
  'id': 1458006,
  'job': 'Title Designer',
  'name': 'Susan Bradley',
  'profile_path': None},
 {'credit_id': '5891ed99c3a3680966007670',
  'department': 'Crew',
  'gender': 0,
  'id': 1748557,
  'job': 'Supervising Technical Director',
  'name': 'William Reeves',
  'profile_path': None},
 {'credit_id': '5891edcec3a3686b0a002eb2',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Songs',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5891edf9c3a36809700075e6',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Original Story',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58920f0b9251412dd7009104',
  'department': 'Crew',
  'gender': 2,
  'id': 12890,
  'job': 'Supervising Animator',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '58920f1fc3a3680977009021',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Designer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '58920f389251412dd700912d',
  'department': 'Production',
  'gender': 0,
  'id': 12909,
  'job': 'Production Supervisor',
  'name': 'Karen Robert Jackson',
  'profile_path': None},
 {'credit_id': '58920fbd9251412dcb00969c',
  'department': 'Crew',
  'gender': 0,
  'id': 953331,
  'job': 'Executive Music Producer',
  'name': 'Chris Montan',
  'profile_path': None},
 {'credit_id': '589210069251412dd7009219',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7893,
  'job': 'Animation Director',
  'name': 'Rich Quade',
  'profile_path': None},
 {'credit_id': '589210329251412dcd00943b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8025,
  'job': 'Animation',
  'name': 'Michael Berenstein',
  'profile_path': None},
 {'credit_id': '5892103bc3a368096a009180',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 78009,
  'job': 'Animation',
  'name': 'Colin Brady',
  'profile_path': None},
 {'credit_id': '5892105dc3a3680968008db2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748682,
  'job': 'Animation',
  'name': 'Davey Crockett Feiten',
  'profile_path': None},
 {'credit_id': '589210669251412dcd009466',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454030,
  'job': 'Animation',
  'name': 'Angie Glocka',
  'profile_path': None},
 {'credit_id': '5892107c9251412dd1009613',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748683,
  'job': 'Animation',
  'name': 'Rex Grignon',
  'profile_path': None},
 {'credit_id': '5892108ac3a3680973008d3f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748684,
  'job': 'Animation',
  'name': 'Tom K. Gurney',
  'profile_path': None},
 {'credit_id': '58921093c3a3686348004477',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 8029,
  'job': 'Animation',
  'name': 'Jimmy Hayward',
  'profile_path': '/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg'},
 {'credit_id': '5892109b9251412dcd0094b0',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1426773,
  'job': 'Animation',
  'name': 'Hal T. Hickel',
  'profile_path': None},
 {'credit_id': '589210a29251412dc5009a29',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8035,
  'job': 'Animation',
  'name': 'Karen Kiser',
  'profile_path': None},
 {'credit_id': '589210ccc3a3680977009191',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748688,
  'job': 'Animation',
  'name': 'Anthony B. LaMolinara',
  'profile_path': None},
 {'credit_id': '589210d7c3a3686b0a004c1f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 587314,
  'job': 'Animation',
  'name': 'Guionne Leroy',
  'profile_path': None},
 {'credit_id': '589210e1c3a36809770091a7',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Animation',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '589210ee9251412dc200978a',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748689,
  'job': 'Animation',
  'name': 'Les Major',
  'profile_path': None},
 {'credit_id': '589210fa9251412dc8009595',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7892,
  'job': 'Animation',
  'name': 'Glenn McQueen',
  'profile_path': None},
 {'credit_id': '589211029251412dc8009598',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 555795,
  'job': 'Animation',
  'name': 'Mark Oftedal',
  'profile_path': None},
 {'credit_id': '5892110b9251412dc800959d',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7882,
  'job': 'Animation',
  'name': 'Jeff Pidgeon',
  'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'},
 {'credit_id': '58921113c3a36863480044e4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8017,
  'job': 'Animation',
  'name': 'Jeff Pratt',
  'profile_path': None},
 {'credit_id': '5892111c9251412dcb0097e9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1184140,
  'job': 'Animation',
  'name': 'Steve Rabatich',
  'profile_path': None},
 {'credit_id': '58921123c3a36809700090f6',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8049,
  'job': 'Animation',
  'name': 'Roger Rose',
  'profile_path': None},
 {'credit_id': '5892112b9251412dcb0097fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1509559,
  'job': 'Animation',
  'name': 'Steve Segal',
  'profile_path': None},
 {'credit_id': '589211349251412dc80095c3',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748691,
  'job': 'Animation',
  'name': 'Doug Sheppeck',
  'profile_path': None},
 {'credit_id': '5892113cc3a3680970009106',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8050,
  'job': 'Animation',
  'name': 'Alan Sperling',
  'profile_path': None},
 {'credit_id': '58921148c3a3686b0a004c99',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8010,
  'job': 'Animation',
  'name': 'Doug Sweetland',
  'profile_path': None},
 {'credit_id': '58921150c3a3680966009125',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8044,
  'job': 'Animation',
  'name': 'David Tart',
  'profile_path': None},
 {'credit_id': '589211629251412dc5009b00',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454034,
  'job': 'Animation',
  'name': 'Ken Willard',
  'profile_path': None},
 {'credit_id': '589211c1c3a3686b0a004d28',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7887,
  'job': 'Visual Effects Supervisor',
  'name': 'Thomas Porter',
  'profile_path': None},
 {'credit_id': '589211d4c3a3680968008ed9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1406878,
  'job': 'Visual Effects',
  'name': 'Mark Thomas Henne',
  'profile_path': None},
 {'credit_id': '589211f59251412dd4008e65',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748698,
  'job': 'Visual Effects',
  'name': 'Oren Jacob',
  'profile_path': None},
 {'credit_id': '58921242c3a368096a00939b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748699,
  'job': 'Visual Effects',
  'name': 'Darwyn Peachey',
  'profile_path': None},
 {'credit_id': '5892124b9251412dc5009bd2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748701,
  'job': 'Visual Effects',
  'name': 'Mitch Prater',
  'profile_path': None},
 {'credit_id': '58921264c3a3686b0a004dbf',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748703,
  'job': 'Visual Effects',
  'name': 'Brian M. Rosen',
  'profile_path': None},
 {'credit_id': '589212709251412dcd009676',
  'department': 'Lighting',
  'gender': 1,
  'id': 12912,
  'job': 'Lighting Supervisor',
  'name': 'Sharon Calahan',
  'profile_path': None},
 {'credit_id': '5892127fc3a3686b0a004de5',
  'department': 'Lighting',
  'gender': 0,
  'id': 7899,
  'job': 'Lighting Supervisor',
  'name': 'Galyn Susman',
  'profile_path': None},
 {'credit_id': '589212cdc3a3680970009268',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'CG Painter',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892130f9251412dc8009791',
  'department': 'Art',
  'gender': 0,
  'id': 1748705,
  'job': 'Sculptor',
  'name': 'Shelley Daniels Lekven',
  'profile_path': None},
 {'credit_id': '5892131c9251412dd4008f4c',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7889,
  'job': 'Character Designer',
  'name': 'Bob Pauley',
  'profile_path': None},
 {'credit_id': '589213249251412dd100987b',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Character Designer',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '5892132b9251412dc80097b1',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7,
  'job': 'Character Designer',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58921332c3a368634800467b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'Character Designer',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892135f9251412dd4008f90',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748706,
  'job': 'Character Designer',
  'name': 'Steve Johnson',
  'profile_path': None},
 {'credit_id': '58921384c3a3680973008fd4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1176752,
  'job': 'Character Designer',
  'name': 'Dan Haskett',
  'profile_path': None},
 {'credit_id': '5892138e9251412dc20099fc',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1088034,
  'job': 'Character Designer',
  'name': 'Tom Holloway',
  'profile_path': '/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg'},
 {'credit_id': '58921395c3a368097700942f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1447465,
  'job': 'Character Designer',
  'name': 'Jean Gillmore',
  'profile_path': None},
 {'credit_id': '589213e2c3a3680973009026',
  'department': 'Directing',
  'gender': 0,
  'id': 1748709,
  'job': 'Layout',
  'name': 'Desirée Mourad',
  'profile_path': None},
 {'credit_id': '589214099251412dc5009d57',
  'department': 'Art',
  'gender': 0,
  'id': 1748710,
  'job': 'Set Dresser',
  'name': "Kelly O'Connell",
  'profile_path': None},
 {'credit_id': '58921411c3a3686b0a004f70',
  'department': 'Art',
  'gender': 0,
  'id': 1443471,
  'job': 'Set Dresser',
  'name': 'Sonoko Konishi',
  'profile_path': None},
 {'credit_id': '58921434c3a368096a00956e',
  'department': 'Art',
  'gender': 0,
  'id': 1748711,
  'job': 'Set Dresser',
  'name': 'Ann M. Rockwell',
  'profile_path': None},
 {'credit_id': '5892144ac3a36809680090de',
  'department': 'Editing',
  'gender': 0,
  'id': 1748712,
  'job': 'Editorial Manager',
  'name': 'Julie M. McDonald',
  'profile_path': None},
 {'credit_id': '58921479c3a368096800910f',
  'department': 'Editing',
  'gender': 0,
  'id': 1589729,
  'job': 'Assistant Editor',
  'name': 'Robin Lee',
  'profile_path': None},
 {'credit_id': '5892148b9251412dd10099cc',
  'department': 'Editing',
  'gender': 0,
  'id': 1748716,
  'job': 'Assistant Editor',
  'name': 'Tom Freeman',
  'profile_path': None},
 {'credit_id': '589214959251412dcb009b1f',
  'department': 'Editing',
  'gender': 0,
  'id': 1748717,
  'job': 'Assistant Editor',
  'name': 'Ada Cochavi',
  'profile_path': None},
 {'credit_id': '5892149ec3a3686348004798',
  'department': 'Editing',
  'gender': 0,
  'id': 1336438,
  'job': 'Assistant Editor',
  'name': 'Dana Mulligan',
  'profile_path': None},
 {'credit_id': '589214adc3a368096a0095db',
  'department': 'Editing',
  'gender': 0,
  'id': 1748718,
  'job': 'Editorial Coordinator',
  'name': 'Deirdre Morrison',
  'profile_path': None},
 {'credit_id': '589214c7c3a368097700952b',
  'department': 'Production',
  'gender': 0,
  'id': 1748719,
  'job': 'Production Coordinator',
  'name': 'Lori Lombardo',
  'profile_path': None},
 {'credit_id': '589214cec3a368096a009603',
  'department': 'Production',
  'gender': 0,
  'id': 1748720,
  'job': 'Production Coordinator',
  'name': 'Ellen Devine',
  'profile_path': None},
 {'credit_id': '589214e39251412dc8009904',
  'department': 'Crew',
  'gender': 0,
  'id': 1468014,
  'job': 'Unit Publicist',
  'name': 'Lauren Beth Strogoff',
  'profile_path': None},
 {'credit_id': '58921544c3a3686b0a00507d',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '5892154c9251412dd1009a56',
  'department': 'Sound',
  'gender': 0,
  'id': 1425978,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Summers',
  'profile_path': None},
 {'credit_id': '58921555c3a36809680091bd',
  'department': 'Sound',
  'gender': 2,
  'id': 8276,
  'job': 'Supervising Sound Editor',
  'name': 'Tim Holland',
  'profile_path': None},
 {'credit_id': '589215c39251412dcb009c12',
  'department': 'Sound',
  'gender': 0,
  'id': 7069,
  'job': 'Sound Effects Editor',
  'name': 'Pat Jackson',
  'profile_path': None},
 {'credit_id': '58921698c3a368096a009788',
  'department': 'Crew',
  'gender': 2,
  'id': 15894,
  'job': 'Sound Design Assistant',
  'name': 'Tom Myers',
  'profile_path': None},
 {'credit_id': '589216a89251412dc2009ca4',
  'department': 'Sound',
  'gender': 0,
  'id': 1414177,
  'job': 'Assistant Sound Editor',
  'name': 'J.R. Grubbs',
  'profile_path': None},
 {'credit_id': '589216c19251412dc2009cb9',
  'department': 'Sound',
  'gender': 1,
  'id': 1748724,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Sanford',
  'profile_path': None},
 {'credit_id': '589216ccc3a3680973009274',
  'department': 'Sound',
  'gender': 0,
  'id': 1748725,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Popovic',
  'profile_path': None},
 {'credit_id': '589216d79251412dc8009aa0',
  'department': 'Sound',
  'gender': 0,
  'id': 8067,
  'job': 'Assistant Sound Editor',
  'name': 'Dan Engstrom',
  'profile_path': None},
 {'credit_id': '589216e49251412dcd009a4f',
  'department': 'Production',
  'gender': 1,
  'id': 7902,
  'job': 'Casting Consultant',
  'name': 'Ruth Lambert',
  'profile_path': None},
 {'credit_id': '589216f39251412dc2009cf3',
  'department': 'Production',
  'gender': 0,
  'id': 84493,
  'job': 'ADR Voice Casting',
  'name': 'Mickie McGowan',

In [107]:
def extract_directors(dataset):

    crew_df = pd.DataFrame(columns=['id', 'directors'])
    
    for index, movie in dataset.iterrows():
        movie_id = movie['id']
        crew = movie['crew']
        directors = [member['name'] for member in crew if member['job'] == 'Director']

        crew_df = crew_df.append({'id': movie_id,'directors': directors}, ignore_index=True)

    return crew_df

In [111]:
crew_df = extract_directors(credits_raw)
crew_df

           id          directors
0         862    [John Lasseter]
1        8844     [Joe Johnston]
2       15602    [Howard Deutch]
3       31357  [Forest Whitaker]
4       11862    [Charles Shyer]
...       ...                ...
36384  289923         [Ben Rock]
36385  222848    [Aaron Osborne]
36386   30840       [John Irvin]
36387  111109         [Lav Diaz]
36388   67758   [Mark L. Lester]

[36389 rows x 2 columns]

In [129]:
directors = [director for sublist in crew_df['directors'] for director in sublist]
director_counts = Counter(directors)
top_directors = [director for director, count in director_counts.most_common(500)]
print(top_directors)

['Michael Curtiz', 'John Ford', 'Woody Allen', 'Werner Herzog', 'Alfred Hitchcock', 'Sidney Lumet', 'Jean-Luc Godard', 'Henry Hathaway', 'Raoul Walsh', 'George Cukor', 'John Huston', 'William A. Wellman', 'Ingmar Bergman', 'Richard Thorpe', 'Fritz Lang', 'Mervyn LeRoy', 'Martin Scorsese', 'Clint Eastwood', 'Robert Wise', 'Roger Corman', 'Claude Chabrol', 'Howard Hawks', 'Anthony Mann', 'J. Lee Thompson', 'Norman Taurog', 'Takashi Miike', 'Spike Lee', 'W.S. Van Dyke', 'Richard Fleischer', 'Gordon Douglas', 'Rainer Werner Fassbinder', 'Roy Del Ruth', 'Robert Altman', 'Steven Spielberg', 'Vincente Minnelli', 'Henry Koster', 'Wim Wenders', 'John Frankenheimer', 'Blake Edwards', 'Akira Kurosawa', 'William Beaudine', 'Lloyd Bacon', 'Michael Apted', 'William Wyler', 'Robert Stevenson', 'Edward Dmytryk', 'John Sturges', 'Robert Aldrich', 'Buster Keaton', 'Lucio Fulci', 'Anatole Litvak', 'Clarence Brown', 'Johnnie To', 'Georges Méliès', 'Stephen Frears', 'Steven Soderbergh', 'Robert Z. Leonard', 'Frank Capra', 'Otto Preminger', 'William Castle', 'George Marshall', 'Yasujirō Ozu', 'Brian De Palma', 'Billy Wilder', 'Charlie Chaplin', 'William Dieterle', 'Don Siegel', 'Edward F. Cline', 'King Vidor', 'Luis Buñuel', 'James Ivory', 'Éric Rohmer', 'Henry King', 'Joseph Losey', 'Ron Howard', 'Barry Levinson', 'Ken Loach', 'Ernst Lubitsch', 'David Lynch', 'Terence Fisher', 'Mario Bava', 'David Butler', 'Umberto Lenzi', 'Gerald Thomas', 'Oliver Stone', 'Ridley Scott', 'Albert Pyun', 'Arthur Hiller', 'François Truffaut', 'Dino Risi', 'Wes Craven', 'John Woo', 'Francis Ford Coppola', 'Federico Fellini', 'Walter Lang', 'Ishirô Honda', 'Michael Powell', 'Jesús Franco', 'Aki Kaurismäki', 'Julien Duvivier', 'Uwe Boll', 'Lasse Hallström', 'Herbert Ross', 'John Carpenter', 'Louis Malle', 'Jonathan Demme', 'Satyajit Ray', 'Sam Wood', 'William Keighley', 'Michael Winterbottom', 'Nicholas Ray', 'Vittorio De Sica', 'Tsui Hark', 'Joseph Sargent', 'Jean Renoir', 'Alain Resnais', 'Mario Monicelli', 'William A. Seiter', 'Roberto Rossellini', 'Chuck Jones', 'Sydney Pollack', 'Mike Nichols', 'Abel Ferrara', 'Joel Schumacher', 'Roman Polanski', 'Tim Burton', 'Norman Jewison', 'Michael Ritchie', 'Bruce Beresford', 'David Cronenberg', 'Stanley Donen', 'Joseph L. Mankiewicz', 'George Stevens', 'Richard Brooks', 'Frank Borzage', 'Abbas Kiarostami', 'Jacques Tourneur', 'Mark Robson', 'Sidney J. Furie', 'Jean Negulesco', 'Roy Ward Baker', 'Sergio Martino', 'Douglas Sirk', 'Kim Ki-duk', 'Jack Conway', 'Zhang Yimou', 'John Landis', 'John Irvin', 'Walter Hill', 'Pedro Almodóvar', 'Lars von Trier', 'Jim Wynorski', 'Kunihiko Yuyama', 'Martin Ritt', 'Andrew V. McLaglen', 'George Sidney', 'Charles Walters', 'Samuel Fuller', 'Norman Z. McLeod', 'Antonio Margheriti', 'Phil Karlson', 'Hou Hsiao-hsien', 'Renny Harlin', 'John Schlesinger', 'John Badham', 'William Friedkin', 'Robert Zemeckis', 'Joel Coen', 'Elia Kazan', 'John Cromwell', 'Lewis Milestone', 'Josef von Sternberg', 'Richard Lester', 'Ken Russell', 'Delmer Daves', 'John Farrow', 'Seijun Suzuki', 'Peter Hyams', 'Rob Reiner', 'Robert Rodriguez', 'Richard Donner', 'Claude Lelouch', 'Richard Linklater', 'Garry Marshall', 'André Téchiné', 'Michael Anderson', 'Volker Schlöndorff', 'Peter Greenaway', 'Fred Zinnemann', 'Paul Schrader', 'Patrice Leconte', 'Roger Spottiswoode', 'Takeshi Kitano', 'Sammo Hung', 'Cecil B. DeMille', 'Delbert Mann', 'François Ozon', 'Dario Argento', 'Val Guest', 'Kiyoshi Kurosawa', 'Allan Dwan', 'Tay Garnett', 'Gus Van Sant', 'Stephen Herek', 'Tony Scott', 'Roger Donaldson', 'Fred Schepisi', 'Peter Yates', 'Alan Rudolph', 'Mike Leigh', 'Russell Mulcahy', 'Mikio Naruse', 'Mitchell Leisen', 'Archie Mayo', 'Ken Annakin', 'Joe Dante', 'Robert Mulligan', 'Tobe Hooper', 'Ronald Neame', 'Andrei Konchalovsky', 'Frank Tashlin', 'Peter Bogdanovich', 'Lewis Gilbert', 'Eldar Ryazanov', 'Pier Paolo Pasolini', 'Freddie Francis', 'Henry Levin', 'Masaki Kobayashi', 'Ray Enright', 'Budd Boetticher', 'Jay Karas', 'Neil Jordan', 'Ivan Reitman', 'Luc Besson', 'Roland Emmerich', 'Bernardo Bertolucci', 'John G. Avildsen', 'Tony Richardson', 'Bertrand Tavernier', 'Stanley Kubrick', 'Orson Welles', 'Busby Berkeley', 'George A. Romero', 'Edwin L. Marin', 'Carol Reed', 'Costa-Gavras', 'Richard Quine', 'John Guillermin', 'Shôhei Imamura', 'Carlos Saura', 'Robert Siodmak', 'H. Bruce Humberstone', 'Jules Dassin', 'Brian Trenchard-Smith', 'Sergio Corbucci', 'Rudolph Maté', 'Jacques Rivette', 'Stuart Heisler', 'Luchino Visconti', 'Alfred E. Green', 'Vincent Sherman', 'Chang Cheh', 'Enzo G. Castellari', 'Hong Sang-soo', 'Ryan Polito', 'Christian Duguay', 'Mike Newell', 'Chris Columbus', 'Paul Verhoeven', 'Martha Coolidge', 'Atom Egoyan', 'Richard Benjamin', 'Sam Raimi', 'Phillip Noyce', 'Russ Meyer', 'Simon Wincer', 'Bille August', 'Daniel Petrie', 'Nagisa Ōshima', 'David Hand', 'Leo McCarey', 'Wilfred Jackson', 'Arthur Penn', 'David Lean', 'Edmund Goulding', 'John Boorman', 'Bob Clark', 'Jackie Chan', 'Guy Hamilton', 'Kinji Fukasaku', 'Nathan H. Juran', 'Lloyd Kaufman', 'Michelangelo Antonioni', 'Liu Chia-Liang', 'Ralph Nelson', 'Roy Rowland', 'Joel Gallen', "Joe D'Amato", 'Andrzej Wajda', 'Robert Harmon', 'Kenji Mizoguchi', 'Wong Jing', 'Sion Sono', 'Robert Vince', 'Miguel M. Delgado', 'Ang Lee', 'Mike Figgis', 'Terry Gilliam', 'Steve Miner', 'Kenneth Branagh', 'Dennis Dugan', 'Barbet Schroeder', 'Taylor Hackford', 'Peter Jackson', 'Alan Parker', 'Hamilton Luske', 'Sam Peckinpah', 'Jim Jarmusch', 'Victor Fleming', 'Norman Foster', 'Alan J. Pakula', 'Raúl Ruiz', 'George Roy Hill', 'Damiano Damiani', 'Joseph H. Lewis', 'Stuart Gillard', 'Sean McNamara', 'Alexander Sokurov', 'David DeCoteau', 'Charles Band', 'Olivier Assayas', 'Charles Vidor', 'Terence Young', 'Michael Winner', 'Henri Verneuil', 'Edward Bernds', 'Bert I. Gordon', 'Daniel Mann', 'Chris Marker', 'George B. Seitz', 'Robert Florey', 'Don Sharp', 'Tyler Perry', 'Roel Reiné', 'William K.L. Dickson ', 'Wong Kar-wai', 'Michael Bay', 'Hal Hartley', 'Wayne Wang', 'Kevin Smith', 'Peter Farrelly', 'Edward Zwick', 'Danny Boyle', 'Jonathan Kaplan', 'Mick Jackson', 'Carl Reiner', 'Chen Kaige', 'Peter Weir', 'Paul Mazursky', 'Larry Cohen', 'Nicolas Roeg', 'Keisuke Kinoshita', 'Rouben Mamoulian', 'Corey Yuen Kwai', 'Clyde Geronimi', 'Anthony Asquith', 'Ted Kotcheff', 'Miloš Forman', 'Stuart Rosenberg', 'Shinya Tsukamoto', 'Mark L. Lester', 'Álex de la Iglesia', 'Reginald Le Borg', 'Roy William Neill', 'Jack Arnold', 'Byron Haskin', 'Fred F. Sears', 'Hayao Miyazaki', 'Jean Rollin', 'Stanley Kramer', 'Arthur Lubin', 'David Miller', 'Marco Ferreri', 'Uli Edel', 'Burt Kennedy', 'John Stockwell', 'Kevin Connor', 'Michael Haneke', 'William A. Graham', 'Robert Parrish', 'Basil Dearden', 'Ettore Scola', 'D.W. Griffith', 'André De Toth', 'Gordon Chan', 'Edward Buzzell', 'Curtis Bernhardt', 'Harold S. Bucquet', 'Leonid Gayday', 'Benny Chan', 'Mani Ratnam', 'Alex Gibney', 'Claude Zidi', 'Ralph Thomas', 'Michael Feifer', 'Shannon Hartman', 'Eloy de la Iglesia', 'Christian I. Nyby II', 'Michael Mann', 'Martin Campbell', 'Joseph Ruben', 'Jean-Jacques Annaud', 'Paul W.S. Anderson', 'Frank Oz', 'James Foley', 'Penelope Spheeris', 'Andrew Davis', 'Agnieszka Holland', 'Stuart Gordon', 'Bobby Farrelly', 'Mira Nair', 'John Sayles', 'Curtis Hanson', 'John Waters', 'Steve Rash', 'Mika Kaurismäki', 'René Clément', 'Emir Kusturica', 'John Cassavetes', 'Mamoru Oshii', 'Guy Maddin', 'Mark Rydell', 'Fred Olen Ray', 'Irvin Kershner', 'Franklin J. Schaffner', 'Jay Roach', 'Brett Ratner', 'John Madden', 'Harry Beaumont', 'Wesley Ruggles', 'Ron Oliver', 'Vincent McEveety', 'Theo Angelopoulos', 'Tinto Brass', 'Francesco Rosi', 'Irving Pichel', 'Kevin Macdonald', 'Emeric Pressburger', 'Oxide Pang Chun', 'Lewis Seiler', 'René Clair', 'Shawn Levy', 'Melvin Frank', 'Kenji Misumi', 'Dick Lowry', 'Steno', 'Jean Girault', 'Marcus Raboy', 'Paul Wendkos', 'Alexander Hall', 'Frederick Wiseman', 'Jan Troell', 'Andrew L. Stone', 'Miklós Jancsó', 'John Brahm', 'Mark Atkins', 'Tom Clegg', 'Irving Cummings', 'Duccio Tessari', 'Jay Oliva', 'Jay Chapman', 'Ram Gopal Varma', 'Howard Deutch', 'Peter Hewitt', 'Mel Brooks', 'Quentin Tarantino', 'Barry Sonnenfeld', 'Michael Hoffman', 'Noah Baumbach', 'John McTiernan', 'Roland Joffé', 'Kathryn Bigelow', 'Nikita Mikhalkov', 'Lawrence Kasdan', 'Bernard Rose', 'Robert Benton', 'Harold Ramis', 'Jon Turteltaub', 'Brian Levant', 'Donald Petrie', 'Stephen Hopkins', 'Richard Attenborough', 'Roger Vadim', 'Randal Kleiser', 'Tsai Ming-liang', 'Gene Kelly', 'Mark Sandrich', 'Jack Kinney', 'Andrei Tarkovsky', 'Claire Denis']

In [132]:
directors_df = pd.DataFrame(columns=top_directors)

In [133]:
directors_df

Empty DataFrame
Columns: [Michael Curtiz, John Ford, Woody Allen, Werner Herzog, Alfred Hitchcock, Sidney Lumet, Jean-Luc Godard, Henry Hathaway, Raoul Walsh, George Cukor, John Huston, William A. Wellman, Ingmar Bergman, Richard Thorpe, Fritz Lang, Mervyn LeRoy, Martin Scorsese, Clint Eastwood, Robert Wise, Roger Corman, Claude Chabrol, Howard Hawks, Anthony Mann, J. Lee Thompson, Norman Taurog, Takashi Miike, Spike Lee, W.S. Van Dyke, Richard Fleischer, Gordon Douglas, Rainer Werner Fassbinder, Roy Del Ruth, Robert Altman, Steven Spielberg, Vincente Minnelli, Henry Koster, Wim Wenders, John Frankenheimer, Blake Edwards, Akira Kurosawa, William Beaudine, Lloyd Bacon, Michael Apted, William Wyler, Robert Stevenson, Edward Dmytryk, John Sturges, Robert Aldrich, Buster Keaton, Lucio Fulci, Anatole Litvak, Clarence Brown, Johnnie To, Georges Méliès, Stephen Frears, Steven Soderbergh, Robert Z. Leonard, Frank Capra, Otto Preminger, William Castle, George Marshall, Yasujirō Ozu, Brian De Palma, Billy Wilder, Charlie Chaplin, William Dieterle, Don Siegel, Edward F. Cline, King Vidor, Luis Buñuel, James Ivory, Éric Rohmer, Henry King, Joseph Losey, Ron Howard, Barry Levinson, Ken Loach, Ernst Lubitsch, David Lynch, Terence Fisher, Mario Bava, David Butler, Umberto Lenzi, Gerald Thomas, Oliver Stone, Ridley Scott, Albert Pyun, Arthur Hiller, François Truffaut, Dino Risi, Wes Craven, John Woo, Francis Ford Coppola, Federico Fellini, Walter Lang, Ishirô Honda, Michael Powell, Jesús Franco, Aki Kaurismäki, Julien Duvivier, ...]
Index: []

[0 rows x 500 columns]

In [134]:
for index, row in crew_df.iterrows():
    for director in row['directors']:
        if director in top_directors:
            directors_df.loc[index, director] = 1

In [136]:
directors_df = directors_df.fillna(0)

In [138]:
directors_df["Alfred Hitchcock"].value_counts()

0    8898
1      48
Name: Alfred Hitchcock, dtype: int64

In [246]:
merged_df_direct = crew_df.merge(directors_df, how='left', left_index=True, right_index=True).fillna(0)

In [249]:
merged_df_direct = merged_df_direct.drop(columns = "directors")

In [250]:
merged_df_direct

,id,Michael Curtiz,John Ford,Woody Allen,Werner Herzog,Alfred Hitchcock,Sidney Lumet,Jean-Luc Godard,Henry Hathaway,Raoul Walsh,...,Stephen Hopkins,Richard Attenborough,Roger Vadim,Randal Kleiser,Tsai Ming-liang,Gene Kelly,Mark Sandrich,Jack Kinney,Andrei Tarkovsky,Claire Denis
0,862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36384,289923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36385,222848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36386,30840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36387,111109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36388,67758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [251]:
merged_df_direct.to_csv('directors_df.csv', index=False)

#### Extract Actors

In [185]:
ast.literal_eval(credits_raw.loc[0]['cast'])

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [197]:
def extract_actors(dataset):

    cast_df = pd.DataFrame(columns=['id', 'actors','main_cast_gender','women_actors_count','men_actors_count'])

    ids_have_to_drop = []
    
    for index, movie in dataset.iterrows():
        movie_id = movie['id']
        cast = ast.literal_eval(movie["cast"])
        if len(cast) == 0:
            ids_have_to_drop.append(movie_id)
        else: 
            gender = cast[0]["gender"]
            actors = [member['name'] for member in cast]

            women_count = 0
            men_count = 0

            for member in cast:
                if member['gender'] == 1:
                    women_count += 1
                elif member['gender'] == 2:
                    men_count += 1

            cast_df = cast_df.append({'id': movie_id,'actors': actors,'main_cast_gender':gender,'women_actors_count':women_count,'men_actors_count':men_count}, ignore_index=True)

    return cast_df

In [198]:
cast_df = extract_actors(credits_raw)
cast_df

,id,actors,main_cast_gender,women_actors_count,men_actors_count
0,862,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",2,3,9
1,8844,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",2,6,9
2,15602,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",2,3,4
3,31357,"[Whitney Houston, Angela Bassett, Loretta Devi...",1,4,6
4,11862,"[Steve Martin, Diane Keaton, Martin Short, Kim...",2,5,6
...,...,...,...,...,...
35626,289923,"[Monty Bane, Lucy Butler, David Grammer, Bill ...",2,2,3
35627,222848,"[Lisa Boyle, Kena Land, Zaneta Polard, Don Yan...",1,1,3
35628,30840,"[Patrick Bergin, Uma Thurman, David Morrissey,...",2,1,3
35629,111109,"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",1,1,1
35630,67758,"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",1,2,11

In [297]:
cast_df[cast_df["main_cast_gender"] == 0]

,id,actors,main_cast_gender,women_actors_count,men_actors_count
36,139405,"[Peter Reznick, John McDonough, Avi Hoffman, M...",0,0,1
38,9603,"[Alicia Silverstone, Stacey Dash, Brittany Mur...",0,6,6
39,34615,"[James Earl Jones, Charles S. Dutton, Jack Rob...",0,1,2
48,8391,"[Pascale Bussières, Rachael Crawford, Henry Cz...",0,1,2
64,40628,"[Jerry Barone, Al Pacino, Mary Elizabeth Mastr...",0,1,3
...,...,...,...,...,...
35618,44333,[Georges Méliès],0,0,0
35619,49277,[Georges Méliès],0,0,0
35621,49280,[Georges Méliès],0,0,0
35622,106807,"[Jeanne d'Alcy, Georges Méliès]",0,0,0
35624,420346,"[Markie Adams, Roberto Aguire, Tina Arning, La...",0,3,1

In [301]:
cast_df[cast_df["main_cast_gender"] == 1]

,id,actors,main_cast_gender,women_actors_count,men_actors_count
3,31357,"[Whitney Houston, Angela Bassett, Loretta Devi...",1,4,6
14,1408,"[Geena Davis, Matthew Modine, Frank Langella, ...",1,2,20
16,4584,"[Kate Winslet, Emma Thompson, Hugh Grant, Tom ...",1,7,9
21,1710,"[Sigourney Weaver, Holly Hunter, Will Patton, ...",1,3,7
23,12665,"[Mary Steenburgen, Sean Patrick Flanery, Lance...",1,1,4
...,...,...,...,...,...
35617,14008,"[Hilary Duff, Christy Carlson Romano, Gary Col...",1,5,5
35623,404604,"[Sridevi Kapoor, Sajal Ali, Akshaye Khanna, Na...",1,2,3
35627,222848,"[Lisa Boyle, Kena Land, Zaneta Polard, Don Yan...",1,1,3
35629,111109,"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",1,1,1
35630,67758,"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",1,2,11

In [302]:
cast_df[cast_df["main_cast_gender"] == 2]

,id,actors,main_cast_gender,women_actors_count,men_actors_count
0,862,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",2,3,9
1,8844,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",2,6,9
2,15602,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",2,3,4
4,11862,"[Steve Martin, Diane Keaton, Martin Short, Kim...",2,5,6
5,949,"[Al Pacino, Robert De Niro, Val Kilmer, Jon Vo...",2,15,30
...,...,...,...,...,...
35613,63266,"[Pyotr Fyodorov, Petr Tomashevsky, Agniya Kuzn...",2,1,1
35620,14885,"[Jimmy Bennett, Peter Cullen, Jim Cummings, Jo...",2,1,10
35625,84419,"[Rondo Hatton, Robert Lowery, Virginia Grey, B...",2,3,7
35626,289923,"[Monty Bane, Lucy Butler, David Grammer, Bill ...",2,2,3
35628,30840,"[Patrick Bergin, Uma Thurman, David Morrissey,...",2,1,3

In [257]:
empty_cast_id = []
for index, row in credits_raw.iterrows():
    cast = ast.literal_eval(row['cast'])
    if len(cast) == 0:
        empty_cast_id.append(row["id"])

In [259]:
len(empty_cast_id)

758

In [220]:
actors = [actor for sublist in cast_df['actors'] for actor in sublist]
actor_counts = Counter(actors)
top_actors = [actor for actor, count in actor_counts.most_common(1000)]

In [217]:
# columns = top_actors
# columns.insert(0, 'main_cast_gender') 
# columns.insert(0, 'women_actors_count')
# columns.insert(0, 'men_actors_count')

In [221]:
actors_df = pd.DataFrame(columns=top_actors)

In [222]:
actors_df

Empty DataFrame
Columns: [Bess Flowers, Christopher Lee, Samuel L. Jackson, John Wayne, Jackie Chan, John Carradine, Gérard Depardieu, Michael Caine, Donald Sutherland, Robert De Niro, Danny Trejo, Christopher Walken, Irving Bacon, Frank Welker, Steve Buscemi, Danny Glover, John Goodman, Bruce Willis, John Hurt, Anthony Quinn, Willem Dafoe, Whoopi Goldberg, Robert Duvall, Nicolas Cage, Susan Sarandon, Morgan Freeman, Harvey Keitel, Liam Neeson, Stellan Skarsgård, Robin Williams, Max von Sydow, Dennis Hopper, Keith David, Malcolm McDowell, Christopher Plummer, Brian Cox, Keenan Wynn, Vincent Price, Ward Bond, Charles Lane, Gene Hackman, John Leguizamo, Dick Miller, John Cusack, M. Emmet Walsh, Eric Roberts, Donald Pleasence, Jim Broadbent, Alec Baldwin, James Stewart, Bette Davis, James Franco, Richard Jenkins, J.K. Simmons, Harry Dean Stanton, Forest Whitaker, Peter Stormare, Burt Reynolds, Lance Henriksen, James Caan, John Turturro, Stanley Tucci, Ben Kingsley, Henry Fonda, Ed Harris, Ron Perlman, William H. Macy, Christopher Lloyd, Robert Mitchum, Ray Liotta, Nick Nolte, Peter Cushing, John George, Boris Karloff, Tom Hanks, Wallace Shawn, Paul Giamatti, Sylvester Stallone, James Earl Jones, Dan Aykroyd, Mickey Rooney, James Mason, Henry O'Neill, Val Kilmer, Woody Harrelson, Robert Downey Jr., Johnny Depp, Ray Milland, Burt Lancaster, Anthony Hopkins, Laurence Fishburne, Meryl Streep, Udo Kier, Helen Mirren, Martin Sheen, Charles Durning, Jeff Bridges, Vanessa Redgrave, Matt Damon, Ernest Borgnine, ...]
Index: []

[0 rows x 1000 columns]

In [223]:
for index, row in cast_df.iterrows():
    for actor in row['actors']:
        if actor in top_actors:
            actors_df.loc[index, actor] = 1

In [224]:
actors_df = actors_df.fillna(0)

In [225]:
actors_df

,Bess Flowers,Christopher Lee,Samuel L. Jackson,John Wayne,Jackie Chan,John Carradine,Gérard Depardieu,Michael Caine,Donald Sutherland,Robert De Niro,...,Natasha Lyonne,Robert Carradine,Olivier Gourmet,Francis Ford,Leoda Richards,John Le Mesurier,Ken Lo,John Michael Higgins,Aaron Eckhart,Andy Serkis
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35617,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35625,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35628,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35630,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [240]:
merged_df = cast_df.merge(actors_df, how='left', left_index=True, right_index=True).fillna(0)

In [243]:
merged_df = merged_df.drop(columns = "actors")

In [245]:
merged_df

,id,main_cast_gender,women_actors_count,men_actors_count,Bess Flowers,Christopher Lee,Samuel L. Jackson,John Wayne,Jackie Chan,John Carradine,...,Natasha Lyonne,Robert Carradine,Olivier Gourmet,Francis Ford,Leoda Richards,John Le Mesurier,Ken Lo,John Michael Higgins,Aaron Eckhart,Andy Serkis
0,862,2,3,9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8844,2,6,9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15602,2,3,4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31357,1,4,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11862,2,5,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35626,289923,2,2,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35627,222848,1,1,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35628,30840,2,1,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35629,111109,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35630,67758,1,2,11,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [244]:
merged_df.to_csv('actors_df.csv', index=False)

In [281]:
merged_df_credits = merged_df.merge(merged_df_direct, on='id', how='inner').fillna(0)

In [282]:
merged_df_credits

,id,main_cast_gender,women_actors_count,men_actors_count,Bess Flowers,Christopher Lee,Samuel L. Jackson,John Wayne,Jackie Chan_x,John Carradine,...,Stephen Hopkins,Richard Attenborough,Roger Vadim,Randal Kleiser,Tsai Ming-liang,Gene Kelly,Mark Sandrich,Jack Kinney,Andrei Tarkovsky,Claire Denis
0,862,2,3,9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8844,2,6,9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15602,2,3,4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31357,1,4,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11862,2,5,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35638,289923,2,2,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35639,222848,1,1,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35640,30840,2,1,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35641,111109,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35642,67758,1,2,11,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [323]:
movies_metadata = pd.read_csv("./encoded/movies_metadata_encoded.csv")

In [324]:
movies_metadata

,id,imdb_id,popularity,release_date,runtime,vote_average,vote_count,adult_False,adult_True,Single,...,Latviešu,isiZulu,ਪੰਜਾਬੀ,euskera,Bahasa melayu,Wolof,others_spoken_languages,year,Runtime Category,Vote
0,862,tt0114709,21.946943,1995-10-30,81.0,7.7,5415.0,1,0,0,...,0,0,0,0,0,0,1,1995,2,41695.5
1,8844,tt0113497,17.015539,1995-12-15,104.0,6.9,2413.0,1,0,1,...,0,0,0,0,0,0,1,1995,2,16649.7
2,15602,tt0113228,11.712900,1995-12-22,101.0,6.5,92.0,1,0,0,...,0,0,0,0,0,0,1,1995,2,598.0
3,31357,tt0114885,3.859495,1995-12-22,127.0,6.1,34.0,1,0,1,...,0,0,0,0,0,0,1,1995,2,207.4
4,11862,tt0113041,8.387519,1995-02-10,106.0,5.7,173.0,1,0,0,...,0,0,0,0,0,0,1,1995,2,986.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36378,289923,tt0252966,0.386450,2000-10-03,30.0,7.0,1.0,1,0,1,...,0,0,0,0,0,0,1,2000,1,7.0
36379,222848,tt0112613,0.661558,1995-01-01,85.0,3.5,1.0,1,0,1,...,0,0,0,0,0,0,1,1995,2,3.5
36380,30840,tt0102797,5.683753,1991-05-13,104.0,5.7,26.0,1,0,1,...,0,0,0,0,0,0,1,1991,2,148.2
36381,111109,tt2028550,0.178241,2011-11-17,360.0,9.0,3.0,1,0,1,...,0,0,0,0,0,0,1,2011,4,27.0
36382,67758,tt0303758,0.903007,2003-08-01,90.0,3.8,6.0,1,0,1,...,0,0,0,0,0,0,1,2003,2,22.8

In [331]:
total_merged = movies_metadata.merge(merged_df_credits, on='id', how='inner').fillna(0)

In [332]:
total_merged

,id,imdb_id,popularity,release_date,runtime,vote_average,vote_count,adult_False,adult_True,Single,...,Stephen Hopkins,Richard Attenborough,Roger Vadim,Randal Kleiser,Tsai Ming-liang,Gene Kelly,Mark Sandrich,Jack Kinney,Andrei Tarkovsky,Claire Denis
0,862,tt0114709,21.946943,1995-10-30,81.0,7.7,5415.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8844,tt0113497,17.015539,1995-12-15,104.0,6.9,2413.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15602,tt0113228,11.712900,1995-12-22,101.0,6.5,92.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31357,tt0114885,3.859495,1995-12-22,127.0,6.1,34.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11862,tt0113041,8.387519,1995-02-10,106.0,5.7,173.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35638,289923,tt0252966,0.386450,2000-10-03,30.0,7.0,1.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35639,222848,tt0112613,0.661558,1995-01-01,85.0,3.5,1.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35640,30840,tt0102797,5.683753,1991-05-13,104.0,5.7,26.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35641,111109,tt2028550,0.178241,2011-11-17,360.0,9.0,3.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35642,67758,tt0303758,0.903007,2003-08-01,90.0,3.8,6.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [333]:
total_merged_unique = total_merged.drop_duplicates(subset='id', keep='first')

In [334]:
total_merged_unique

,id,imdb_id,popularity,release_date,runtime,vote_average,vote_count,adult_False,adult_True,Single,...,Stephen Hopkins,Richard Attenborough,Roger Vadim,Randal Kleiser,Tsai Ming-liang,Gene Kelly,Mark Sandrich,Jack Kinney,Andrei Tarkovsky,Claire Denis
0,862,tt0114709,21.946943,1995-10-30,81.0,7.7,5415.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8844,tt0113497,17.015539,1995-12-15,104.0,6.9,2413.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15602,tt0113228,11.712900,1995-12-22,101.0,6.5,92.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31357,tt0114885,3.859495,1995-12-22,127.0,6.1,34.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11862,tt0113041,8.387519,1995-02-10,106.0,5.7,173.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35638,289923,tt0252966,0.386450,2000-10-03,30.0,7.0,1.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35639,222848,tt0112613,0.661558,1995-01-01,85.0,3.5,1.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35640,30840,tt0102797,5.683753,1991-05-13,104.0,5.7,26.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35641,111109,tt2028550,0.178241,2011-11-17,360.0,9.0,3.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35642,67758,tt0303758,0.903007,2003-08-01,90.0,3.8,6.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Encode the gender of the main actor

In [336]:
gender = total_merged_unique["main_cast_gender"].values.reshape(-1, 1)
encoder = OneHotEncoder()
onehot_encoded = encoder.fit_transform(gender)

In [337]:
onehot_df = pd.DataFrame(onehot_encoded.toarray(), columns=["main_cast_unknown","main_cast_woman", "main_cast_man"])

In [341]:
data_encoded = pd.concat([total_merged_unique.reset_index(drop=True), onehot_df], axis=1)

In [344]:
data_encoded = data_encoded.drop(columns = ["main_cast_gender"])

In [346]:
data_encoded = data_encoded.drop(columns = ["main_cast_unknown"])

In [347]:
data_encoded

,id,imdb_id,popularity,release_date,runtime,vote_average,vote_count,adult_False,adult_True,Single,...,Roger Vadim,Randal Kleiser,Tsai Ming-liang,Gene Kelly,Mark Sandrich,Jack Kinney,Andrei Tarkovsky,Claire Denis,main_cast_woman,main_cast_man
0,862,tt0114709,21.946943,1995-10-30,81.0,7.7,5415.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,8844,tt0113497,17.015539,1995-12-15,104.0,6.9,2413.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,15602,tt0113228,11.712900,1995-12-22,101.0,6.5,92.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,31357,tt0114885,3.859495,1995-12-22,127.0,6.1,34.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,11862,tt0113041,8.387519,1995-02-10,106.0,5.7,173.0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35620,289923,tt0252966,0.386450,2000-10-03,30.0,7.0,1.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
35621,222848,tt0112613,0.661558,1995-01-01,85.0,3.5,1.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
35622,30840,tt0102797,5.683753,1991-05-13,104.0,5.7,26.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
35623,111109,tt2028550,0.178241,2011-11-17,360.0,9.0,3.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
35624,67758,tt0303758,0.903007,2003-08-01,90.0,3.8,6.0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [348]:
data_encoded.to_csv('movies_metadata3_encoded.csv', index=False)